<h1>Ready to Start task</h1>

<form action= '/tasks' method="POST">
   Things to do: <input type=textarea name="things_to_do">
   Notes:<input type=textarea name="notes">
   Due date:<input type=date name="due_date">
    <input type=submit>
    
</form> 


