<h1>This is the Users signup page</h1>

<form action= '/users' method="POST">
    <input type=text name="username">
    <input type=password name="password">
    <input type=submit>
    
</form>